<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="AuthType" value="OAuth"/>
        <add key="Url" value="https://hometrial.crm4.dynamics.com/"/>
        <add key="Username" value="admin@lysakov.onmicrosoft.com"/>
        <add key="Password" value="0ZfWuJW63BF9WN"/>
        <add key="RequireNewInstance" value="true"/>
        <add key="AppId" value="51f81489-12ee-4a9e-aaae-a2591f45987d"/>
        <add key="RedirectUri" value="app://58145B91-0C36-4500-8554-080854F2AC97"/>
        <add key="LoginPrompt" value="Auto"/>
    </appSettings>
</configuration>       
